<div class="uk-margin uk-width-5xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
<table class="uk-table uk-table-divider">
    <thead>
    <tr>
        <th>
            <div class="ui statistics">
                    <div class="statistic">
                        <div class="value">
                            <i class="fas fa-users-cog fa-8x" style="color:rgb(153, 196, 74)"></i>
                        </div>
                        <div class="label">
                            <h1> Hi {{userss}}</h1>
                        </div>
                    </div>
                </div>
            </th>
            <th>
                <div class="ui statistics">
                    <div class="statistic">
                        <div class="value">
                            <a href="/userList"><i class="fas fa-user-circle fa-8x" style="color:rgb(63, 122, 139)"></i></a>
                        </div>
                        <div class="label">
                            <a href="/userList"><h1>  {{noOf}}</h1></a>
                        </div>
                    </div>
                </div>
            </th>
            <th>
                <div class="ui statistics">
                    <div class="statistic">
                        <div class="value">
                            <a href="/adminPoiList"><i class="fas fa-sign fa-8x" style="color:rgb(14, 168, 160)"></i></a>
                        </div>
                        <div class="label">
                            <a href="/adminPoiList"><h1>  {{noOfPoi}}</h1></a>
                        </div>
                    </div>
                </div>
            </th>
        </tr>
        </thead>
    </table>
</div>

