<ul class="uk-iconnav uk-margin-left">
    <a href="/home" class="uk-card uk-card-small uk-card-hover uk-padding-small">
        <i class="fas fa-hand-holding-usd fa-3x" style="color:rgb(153, 196, 74)" title="Donate" pos="bottom" uk-tooltip></i>
    </a>
    <a href="/report" class="uk-card uk-card-small uk-card-hover uk-padding-small">
        <i class="fas fa-th-list fa-3x" style="color:rgb(63, 122, 139)" title="Report" pos="bottom" uk-tooltip></i>
    </a>
    <a href="/settings" class="uk-card uk-card-small uk-card-hover uk-padding-small">
        <i class="fas fa-sliders-h fa-3x" style="color:rgb(14, 168, 160)" title="Settings" pos="bottom" uk-tooltip></i>
    </a>
    <a href="/logout" class="uk-card uk-card-small uk-card-hover uk-padding-small">
        <i class="fas fa-sign-out-alt fa-3x" style="color:rgb(156, 70, 128)" title="Logout" pos="bottom" uk-tooltip></i>
    </a>
</ul>