<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <table class="uk-table">
        <caption>
            User List
        </caption>
        <thead>
        <th>F, Name</th>
        <th>L, Name</th>
        <th>Email</th>
        </thead>
        <tbody class="uk-text-left">
        {{#each users}}
            <tr>
                <td> {{firstName}} </td>
                <td> {{lastName}} </td>
                <td> {{email}} </td>
                <td>
                    <form action="/deleteUser/{{_id}}" method="POST" >
                        <button class="uk-button uk-button-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>