<ul class="uk-iconnav uk-margin-left">
    <a href="/signup" class="uk-card-hover uk-padding-small">
        <i class="fas fa-user-cog fa-3x" style="color:rgb(63, 160, 155)" title="Sign up" pos="bottom" uk-tooltip></i>
    </a>
    <a href="/login" class="uk-card-hover uk-padding-small">
        <i class="fas fa-user-edit fa-3x" style="color:green" title="Log in" pos="bottom" uk-tooltip></i>
    </a>
</ul>