<div class="uk-flex uk-flex-center uk-width-3xlarge uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Places of Interests Admin Home" subTitle="Welcome to ADMIN Home"}}
    {{> admin-menu }}
</div>

<div class="uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center">
        <div class="uk-position-large uk-position uk-overlay uk-overlay-default">
            {{> adminAnalytics}}
            <img width="200" src="images/admin.jpg" />
        </div>
    </div>
</div>