<h1 class="uk-heading-primary">Cloudinary Gallery</h1>


<div class="uk-container uk-padding-small">
    <div class="uk-child-width-1-4@s uk-flex uk-flex-center" uk-grid uk-height-match="target: .uk-card">
        {{#each images}}
            {{> card}}
        {{/each}}
    </div>
</div>