<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="Donation Services Inc." subTitle="Sign up or log in"}}
    {{> welcome-menu }}
</div>

<div class="uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-auto@m">
            <img width="300" src="images/homer.png" />
        </div>
        <div class="uk-width-expand@m">
            <h1 class="uk-heading-small">Help Me Run POI</h1>
            <p>POI what you can now - Only Bitcoins accepted! Bit of pracrtice with GIT currently</p>
        </div>
    </div>
</div>